@font-face {
    font-family: Header-Font;
    src: url(../fonts/Caseopia\ Demo.otf);
}

@font-face {
    font-family: Main-Font;
    src: url(../fonts/BespokeSerif-Light.ttf);
}

:root
{
    --background-color: #151a1a;
    --background-color2: #252c2c;
    --primary-color: #e3a572;
    --primary-color2: #d29869;
    --border-radius: 110px;
}

body
{
    --background-color: #252b2b;
    --background-color2: #121515;
    --primary-color: #e3a572;
    --primary-color2: #d29869;
    background-color: var(--background-color);
    gap: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-image: url(../images/Koz\ Main\ Background.png);
    background-size: 100%;
    background-attachment: fixed;
    padding: 0;
    font-size: 24px;
    font-family: Header-Font;
    color: var(--primary-color2);
    align-items: center;

}

.home-button
{
    width: 50px;
    height: 50px;
    background-image: url(../images/Home\ Icon.png);
    background-size: 100%;
    outline: none;
    transition-duration: 300ms;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.home-button a{
    display: block;
    width: 100%;
    height: 100%;
}

.home-button:hover{
    transform: scale(1.1);
}
header{
    font-size: 70px;
}
h2
{
    font-size: 20px;
    margin: 0px;

}

.pillar-box img
{
    height: 100%;
    
}
.no-padding{
    padding: 0px;
}
.no-margin{
    margin: 0px;
}

@media (max-width: 600px){
    .letter-display{
        display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(../images/Koz\ Background.png);
    background-size: 100%;
    border-radius: 5vw;
    margin: 20px;
    overflow: none;
    padding: 5%;

    }

}
@media (min-width: 600px){
    .letter-display{
        display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(../images/Koz\ Background.png);
    background-size: 100%;
    border-radius: 5vw;
    margin: auto;
    width: 500px;
    overflow: none;
    padding: 5%;

    }
}
.letter-display .button{
    width: 100px;

}

.letter-button
{
    display: inline-flex;
width: 1fr;
padding: 15px;
height: 1;
margin: 2% 2%;
}
.letter-display.style-1{
    background-color: #121515;
    
    }
.letter-display.style-2{
    background-image: url("../images/Koz\ Background.png");
    background-size: cover;
}
.letter-display .button{
    width: 100%;
}
.letter-box img{
    width: 100%;
}
.floating-button
{
    display: flex;

    width: 250px;
    height: 50px;
    justify-content: center;
  
    border-radius: 10px;
    background-image: url("../images/Koz\ Background.png");
    background-size: 500px;
    margin: auto;
    transition-duration: 300ms;

}
.floating-button a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    place-self: center;
    place-items: center;
    text-align: center;    
}
.floating-button:hover{
    transform: scale(1.1);
}


.letter-box{

    display: flex;
    align-self: center;
    outline: none;
    place-items: center;
    place-self: center;

    width: 80vw;
    padding: 20px;
}

.letter-box.style-2{
    background-image: url("../images/Koz\ Background.png");
    background-size: cover;
}
.letter-box.r1{
    border-top-left-radius: 20px;
}
.letter-box.r2{
    border-top-right-radius: 20px;
}
.letter-box.r3{
    border-bottom-left-radius: 20px;
}
.letter-box.r4{
    border-bottom-right-radius: 20px;
}

body header{
    margin: 0px;
}








.grid-wrapper {
    display: flexbox;
    flex-flow: column;
    gap: 10px;
    overflow: visible;
    outline: 1px;
    margin: 0px;
    width: 100vw;
    justify-content: center;    
    align-content: center;
}
.global-flex{
    display: flexbox;
    outline: none;
    width: 100%;
}





@media (min-width: 1000px){

    :root{
        
    }
    .global_grid{

       gap: 15px;
       padding: 15px;
        align-self: center;
        place-items: center;
        display: grid;
        place-self: center;
        grid-template-columns: repeat(4, 220px);
        grid-template-rows: repeat(2, 220px);
    }
    .global_grid .button{
        width: 100%;
        height: 100%;
    }
    .global_grid.r1{
        border-top-left-radius: 20px;
    }
    .global_grid.r2{
        border-top-right-radius: 20px;
    }
    .global_grid.r3{
        border-bottom-left-radius: 20px;
    }
    .global_grid.r4{
        border-bottom-right-radius: 20px;
    }
    
}
@media (min-width: 1000px)
{
    .photo-grid{

        margin: 10px;
        width: 880px;
        border-radius: calc(var(--ncell-size) * 0.05);
        background-image: url(../images/Koz\ Main\ Background.png);
        background-size: 100%;
        display: grid;
        grid-template-columns: repeat(4, 220px);
        grid-template-rows: repeat(10, 220px);
        overflow: hidden;
        margin: auto;
     }

}


@media (max-width: 1000px){
    .photo-grid{

        margin: 10px;
        width: calc((var(--ncell-size) * 2));
    
        border-radius: calc(var(--ncell-size) * 0.05);
        background-image: url(../images/Koz\ Main\ Background.png);
        background-size: 100%;
        display: grid;
        grid-template-columns: repeat(2, var(--ncell-size));
        grid-template-rows: repeat(20, var(--ncell-size));
        margin: auto;
        overflow: hidden;
    }
   
}


@media (max-width: 1000px){
:root {
    --ncell-size: 40vw;
    --nborder-radius: calc(var(var(--ncell-size) / 2));
    --collumn-gap-grid: 2.5vw;
}

.global_grid{

    margin: 10px;
    width: calc((var(--ncell-size) * 2));

    border-radius: calc(var(--ncell-size) * 0.05);
    background-image: url(../images/Koz\ Main\ Background.png);
    background-size: 100%;
    display: grid;
    grid-template-columns: repeat(2, var(--ncell-size));
    grid-template-rows: repeat(4, var(--ncell-size));
    margin: auto;
    overflow: hidden;
}
.global_grid.r1{
    border-top-left-radius: var(--collumn-gap-grid);
}
.global_grid.r2{
    border-top-right-radius: var(--collumn-gap-grid);
}
.global_grid.r3{
    border-bottom-left-radius: var(--collumn-gap-grid);
}
.global_grid.r4{
    border-bottom-right-radius: var(--collumn-gap-grid);
}

.global_grid section{
    margin: var(--collumn-gap-grid);
}

.global_grid section.r1{
 border-top-left-radius: calc((var(--ncell-size) - var(--collumn-gap-grid)) / 2);
}
.global_grid section.r2{
    border-top-right-radius: calc((var(--ncell-size) - var(--collumn-gap-grid)) / 2);
   }
   .global_grid section.r3{
    border-bottom-left-radius: calc((var(--ncell-size) - var(--collumn-gap-grid)) / 2);
   }
   .global_grid section.r4{
    border-bottom-right-radius: calc((var(--ncell-size) - var(--collumn-gap-grid)) / 2);
   }
.global_grid section:nth-child(1){
    order: 0;
}   
.global_grid section:nth-child(2){
    order: 3;

}
.global_grid section:nth-child(3){
    order: 1;

}
.global_grid section:nth-child(4){
    order: 4;

}
.global_grid section:nth-child(5){
    order: 2;
}
}































.r1{
    border-top-left-radius: 110px;
  }
  .r2{
    border-top-right-radius: 110px;
  }
  .r3{
     border-bottom-left-radius: 110px;
  }
  .r4{
     border-bottom-right-radius: 110px;
  }
@media (min-width: 600px){
      .text-box.large
    {
      font-size: 60px;
    }
    .text-box{
        font-size: 50px;
    }
.text-box.medium{
    font-size: 40px;
}
.text-box.small{
    font-size: 20px;
}
.text-box.standard{
    font-size: 30px;
}
}
@media (max-width: 600px){
    :root {
        --cell-size: 30vw;
        --border-radius: calc(var(var(--cell-size) / 2));
    }


    .text-box.large:not(.dont-scale)
    {
        font-size: 10vw;
    }
    .text-box.medium:not(.dont-scale){
        font-size: 6vw;
    }
    .text-box.small:not(.dont-scale){
        font-size: 3vw;
    }
    .text-box.standard:not(.dont-scale){
        font-size: 4.5vw;
    }
    .text-box.large.dont-scale{
        font-size: 60px;
    }
    .text-box.medium.dont-scale{
        font-size: 50px;
    }
    .text-box.standard.dont-scale{
        font-size: 40px;
    }
    .text-box.small.dont-scale{
        font-size: 30;
    }
    .text-box
    {
        font-size: 5vw;
    }
    .text-box:not(.dont-scale){
        font-size: 10vw;
    }
}


:root{
    --photo-size: 40vw;
}



@media (max-width: 1000px)
{

.photo_grid{
    display: grid;
    grid-template-columns: repeat(2, var(--photo-size));
    grid-template-rows: repeat(20, var(--photo-size));
    place-self: center;
}
.photo-grid section:nth-child(1){
    order: 1;
}
.photo-grid section:nth-child(2){
    order: 2;
}
.photo-grid section:nth-child(3){
    order: 3;
}
.photo-grid section:nth-child(4){
    order: 4;
}
.photo-grid section:nth-child(5){
    order: 5;
}
.photo-grid section:nth-child(6){
    order: 7;
}
.photo-grid section:nth-child(7){
    order: 6;
}
.photo-grid section:nth-child(8){
    order: 8;
}
.photo-grid section:nth-child(9){
    order: 9;
}
.photo-grid section:nth-child(10){
    order: 10;
}
.photo-grid section:nth-child(11){
    order: 11;
}
.photo-grid section:nth-child(12){
    order: 12;
}
.photo-grid section:nth-child(13){
    order: 13;
}
.photo-grid section:nth-child(14){
    order: 14;
}
.photo-grid section:nth-child(15){
    order: 16;
}
.photo-grid section:nth-child(16){
    order: 15;
}
.photo-grid section:nth-child(17){
    order: 17;
}
.photo-grid section:nth-child(18){
    order: 18;
}
.photo-grid section:nth-child(19){
    order: 19;
}
.photo-grid section:nth-child(20){
    order: 20;
}
.photo-grid section:nth-child(21){
    order: 21;
}
.photo-grid section:nth-child(22){
    order: 22;
}
.photo-grid section:nth-child(23){
    order: 23;
}
.photo-grid section:nth-child(24){
    order: 24;
}
.photo-grid section:nth-child(25){
    order: 25;
}
.photo-grid section:nth-child(26){
    order: 26;
}
.photo-grid section:nth-child(27){
    order: 27;
}
.photo-grid section:nth-child(28){
    order: 28;
}
.photo-grid section:nth-child(29){
    order: 29;
}
.photo-grid section:nth-child(30){
    order: 31;
}
.photo-grid section:nth-child(31){
    order: 30;
}



}

.photo-button{
    width: 1fr;
    height: 1fr;
    margin: calc(var(--photo-size) * 0.05);
    transition-duration: 300ms;

}
.photo-button:hover
{
    transform: scale(1.1);
}


.photo_grid .button{
    height: 10px;
    width: 10px;
}
.photo{

    width: 1fr;
    height: 1fr;
    margin: calc(var(--photo-size) * 0.05);
}


.photo img{
    width: 10px;
    height: 10px;
    object-fit: cover;
}

.button a img{
    width: 10px;
    height: 10px;

}





.global_grid.style-2{
    background-image: url("../images/Koz\ Background.png");
    background-size: cover;
}
.fixed-bg{
    background-attachment: fixed;
}
.global-grid-divider{
    width: 1fr;
    height: 1px;
    overflow: hidden;
    color: transparent;
    box-shadow: 0px 1px 0px 0px var(--primary-color);
    background-color: transparent;
    outline: none;
}

.section-divider{
    grid-column: span 4;
    outline: none;
    margin: 0px;

}
.section-divider.invisible
{
    height: 20px;
}
.section-divider.small
{
    height: 10px;
    
}
.section-divider.large
{
    height: 50px;
}

.section-divider.style-1{
    width: 100%;
    height: 1px;
    overflow: hidden;
    color: transparent;
    box-shadow: 0px 1px 0px 0px var(--primary-color);
    background-color: transparent;
}

.no-outline{
    outline: none;
}
.outline{
    outline: solid 1px var(--primary-color);
}
.invisible{
    outline: none;
}
section{
    outline: solid 1px var(--primary-color);
    margin: 20px;
}
.paragraph{
    font-family: Main-Font;
}
.non-select{
    user-select: none;
}

.text-box{
    color: var(--primary-color);
    opacity: 100%;
    outline: none;
}
.text-box.vertical{
    writing-mode: vertical-lr;  
    text-orientation: upright;
    height: 100%;

}
.text-box.force-center{
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1fr;
    color: white;
}
.text-box.align-left-center{
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    margin-right: 20px;
    margin-left: 20px;
}
.text-box.align-bottom
{
    display: flex;
    align-items: end;
    justify-content: center;

}

.span-2-v{
    grid-row: span 2;
}
.span-3-v{
    grid-row: span 3;

}
.span-4-v{
    grid-row: span 4;

}

.span-2-h{
    grid-column: span 2;

}
.span-3-h{
    grid-column: span 3;

}
.span-4-h{
    grid-column: span 4;

}

.no-blur img{
filter:blur(0px);
}
.content-grid
{
    width: 100%;
    height: 220px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    gap: 20px;

}

.content-grid.span-2-h{
    height: 440px;

}
.content-grid.span-3-h{
    height: 660px;

}
.content-grid.span-4-h{
    height: 880px;

}
.content-grid section{
    width: 100%;
    height: 100%;

}

.button.style-1
{
    display: grid;
    user-select: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 1fr;
    width: 1fr;
    overflow: hidden;
    transition-duration: 300ms;
    place-items: center;
}





.height-1{
    height: 220px;
}
.height-2{
    height: 440px;
}
.height-3{
    height: 660px;
}
.height-4{
    height: 880px;
}
@media (min-width: 600px) {
    .button.style-1 img
{
    grid-row: 1;
    grid-column: 1;
    opacity: 0.7;
    filter: blur(4px);
    transition-duration: 300ms;
    width: 100%;
    height: 220px;
    object-fit: cover;
    place-items: center;
    vertical-align: center;
}
}
.button.style-1 img
{
    grid-row: 1;
    grid-column: 1;
    opacity: 0.7;
    filter: blur(4px);
    transition-duration: 300ms;
    width: 100%;
    object-fit: cover;
    place-items: center;
    vertical-align: center;
}
.button.style-1.pillar-box img{
    grid-row: 1;
    grid-column: 1;
    opacity: 0.7;
    filter: blur(4px);
    transition-duration: 300ms;
    width: 100%;
    height: 220px;
    place-items: center; 
    vertical-align: center;
}
.button.style-1.pillar-box.height-2 img{
    height: 440px;

}
.button.style-1.pillar-box.height-3 img{
    height: 660px;

}.button.style-1.pillar-box.height-4 img{
    height: 880px;

}
.button.style-1.no-blur img
{
    filter: blur(0px);
}
img
{
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    object-fit: cover;
}

a
{
    width: 100%;
    height: 100%;
    color: var(--primary-color2);
    text-decoration: none;
}

.button.style-1 a{
    grid-row: 1;
    grid-column: 1;
}


.button.style-1 a
{
    display: grid;
    user-select: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition-duration: 300ms;
    place-items: center;
    margin: 0px;
}

.button a{
    width: 100%;
    height: 100%;
}


.content
{
    width: 100%;
    height: 100%;
    place-items: center;
}


.button.style-1:hover{
    transform: scale(1.05);
}
.button.style-1:hover img
{
    filter: blur(4px);
    opacity: 1;
    
}
.button.style-1.no-blur:hover img
{
    filter: blur(0px);
    opacity: 1;
}

head
{
    font-family: Header-Font;
}