



h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#elapsed-time {
    font-size: 20px;
    font-weight: bold;
}

.clock-value{
    margin: 0px;
    display: inline-block;
}
.clock-container 
{
    text-align: center;
    background-image: url(../images/Koz\ Background.png);
    background-size: 100%;
    padding: 20px 40px;
    border-radius: 10px;
}
@media (min-width: 600px){
    .time-card{
        display: inline-flex;
        flex-direction: row;
        outline: none;
    }
    .time-card section{
        outline: none;
    }
}

@media (max-width: 600px) {
    .time-card{
        display:inline-flex;
        flex-direction: column;
        outline: none;
    }
    .time-card section{
        margin: 10px;
    }
}
.time-event{
    height: 70px;
    border-radius: 10px;
}

