



h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#elapsed-time {
    font-size: 20px;
    font-weight: bold;
}

.clock-value{
    margin: 0px;
    display: inline-block;
}
.clock-container 
{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(../images/Koz\ Background.png);
    background-size: 100%;
    padding: 20px 40px;
    border-radius: 10px;
}
@media (min-width: 600px){
    .time-card{
        display: flexbox;
        justify-content: center;
        flex-direction: row;
        outline: none;
    }
    .time-card section{
        outline: none;
    }
    .clock-container .time-card section:nth-child(1){
        order: 1;
    }
    .clock-container .time-card section:nth-child(2){
        order: 2;

    }
    .clock-container .time-card section:nth-child(3){
        order: 3;
    }
    .clock-container .time-card section:nth-child(4){
        order: 4;
    }
    .clock-container .time-card section:nth-child(5){
        order: 5;
    }
    .clock-container .time-card section:nth-child(6){
        order: 6;
    }
}

@media (max-width: 600px) {
    .time-card{
        display:inline-flex;
        flex-direction: column;
        outline: none;
    }
    .time-card section{
        margin: 10px;
    }
}
.time-event{
    height: 70px;
    border-radius: 10px;
}
.time-event .text-box{
    margin: 0px;
}

